<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="banner">
        <img src="../storage/img/banner.svg">
    </div>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/Frame2.png">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <section class="main__top">
            <article class="main__textocirculo">
                <h4>total <br> balance</h4>
                <p>$214,417</p>
            </article>
        </section>
        <section class="main__mid">
            <article class="main__cuadros">
                <button class="cuadro1">assets</button>
                <button class="cuadro2">debt</button>
                <button class="cuadro3">income</button>
            </article>
        </section>
        <section class="main__midBottom">
            <article class="main__image">
                <img src="../storage/img/GraficaBalance.png">
                <div class="main__week">
                    <p>s m t w t f s</p>
                </div>
            </article>
        </section>
        <section class="main_bottom">
            <article class="main_bottom__icono">
                <i class='bx bxs-x-circle'></i>
            </article>
            <article>
                <div class="main_bottom__texto">
                    <h4>spending.</h4>
                    <p>You forgot to add debt card number at payment #1323. Add it now.</p>
                </div>
            </article>
            <article class="main_bottom__tarjeta">
                <img src="../storage/img/TarjetaBottom.png">
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>